<!-- reset-password.component.html -->

<div class="reset-password-container">
  <!-- First inner div -->
  <div class="logo-text-container">
    <img src="../../../../assets/images/logo/cart_2.png" alt="Logo" />
    <p>BARAKA SAVDO</p>
  </div>

  <!-- Second inner div with blurred background -->
  <div class="blur-background">
    <!-- Reset password form -->
    <h1>Parolni qayta tiklash</h1>
    <form [formGroup]="resetPasswordForm" class="form">
      <label for="phone">Telefon nomer kiriting</label>
      <input type="text" id="phone" formControlName="PhoneNumber" placeholder="+998 94 123 45 56" />

      <label for="password">Yangi parolni kiriting</label>
      <input type="password" id="password" formControlName="Password" placeholder="Password" />

      <button type="button" class="continue-button" (click)="resetPasswordUser()">Tasdiqlash</button>
    </form>
    <p><a href="#">Orqaga</a></p>
  </div>
</div>
