/* reset-password.component.css */

.reset-password-container {
    height: 100vh;
  }
  
  .logo-text-container {
    justify-content: center;
    display: flex;
    padding-top: 100px;
    padding-bottom: 20px;
    width: 100%;
    height: 60px;
  }
  
  .logo-text-container img {
    width: 50px; 
    height: 50px;
    margin-bottom: 10px; 
  }

  .logo-text-container p{
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    padding-top: 15px;
    margin-left: 5px;
  }
  
  .blur-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px; 
    color: white; 
    background-color: rgba($color: #3b4b5d, $alpha: 0.5);
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
  }
  
  h1, p{
    text-align: center;
  }

 a{
    text-align: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  a:hover{
    color:  #56a3da;
  }
  input {
      width: 65%;
      padding: 10px;
      margin: 5px 0;
      margin-bottom: 20px;
      border-radius: 5px;
    }
    
  button{
        width: 70%;
        padding: 10px;
        margin: 5px 0;
        margin-bottom: 10px;
        font-size: 18px;
        border-radius: 5px;
    }
    
  label, input, button{
      margin-left: 70px;
    }

  .continue-button {
    background-color: #0691F1;
    color: white;
  }
  