table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 77%;
    margin-top: 100px;
    margin-left: 300px;
  }
  
  .mat-elevation-z8{
    width: 77%;
    margin-left: 300px;
  }

  .mat-elevation-z8 img{
    width: 30px;
    height: 30px;
  }

  .mat-elevation-z8 button{
    width: 90px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(91, 146, 205);
  }

  .mat-elevation-z8 button:hover{
    background-color: rgb(11, 122, 240);
  }

  .mat-elevation-z8 button:active{
    background-color: rgb(49, 155, 243);
  }
  td, th {
    width: 25%;
  }
// /* product.component.scss */
// .product-container {
//     width: 70%;
//     margin: auto;
//     margin-left: 400px;
//     margin-top: 100px;
//   }
  
//   .product-list {
//     margin-top: 20px;
  
//     table {
//       width: 100%;
//       border-collapse: collapse;
  
//       th, td {
//         border: 1px solid #ddd;
//         padding: 8px;
//         text-align: left;
//       }
  
//       th {
//         background-color: #f2f2f2;
//       }
  
//       button {
//         cursor: pointer;
//         margin-right: 5px;
//       }
//     }
  
//     .pagination {
//       margin-top: 10px;
//       display: flex;
//       justify-content: center;
//       align-items: center;
  
//       ngx-pagination {
//         margin: 0;
//       }
//     }
//   }
  