<div class="footer">
    <div class="footer-section">
      <div class="logo-and-text">
        <img src="../../../assets/images/logo/cart_2.png" alt="Logo" class="logo">
        <p class="text">BARAKA SAVDO</p>
      </div>
    </div>
    <div class="footer-section">
      <div class="footer-links">
        <a href="#afzalliklar">Afzalliklar</a>
        <a href="#sharhlar">Sharhlar</a>
        <a href="#faq">FAQ</a>
        <a href="#">Sotuvchilar uchun ko'rsatmalar</a>
        <a href="#">Shaxsiy kabinet</a>
      </div>
    </div>
  </div>
  