<div class="vertical-navbar">
    <div class="nav-item">
      <img class="fa-building" src="../../../assets/images/logo/cart.png">
      <h1>BARAKA SAVDO</h1>
    </div>
    <div class="nav-item">
      <img src="../../../assets/images/vertical-nav/application.png">
      <span>Masulot toifasi</span>
    </div>
    <div class="nav-item">
        <img src="../../../assets/images/vertical-nav/paket.svg" class="product">
      <span>Tovarlar</span>
    </div>
    <div class="nav-item">
        <img src="../../../assets/images/vertical-nav/2342934.png" class="list">
      <span>Yukxona</span>
    </div>
    <div class="nav-item">
        <img src="../../../assets/images/vertical-nav/user.png">
      <span>Mening profilim</span>
    </div>
    <div class="nav-item">
        <img src="../../../assets/images/vertical-nav/settings.png">
      <span>Sozlamalar</span>
    </div>
  </div>
  