<div class="navbar">
    <div class="navbar-left">
      <img
        class="logo"
        src="../../../assets/images/logo/cart.png"
        height="16"
        alt=""
        loading="lazy"
        style="margin-top: -1px"
      />
      <span class="brand-name">BARAKA SAVDO</span>
    </div>
    <div class="navbar-right">
      <a class="nav-item" href="#afzalliklar">Afzalliklar</a>
      <a class="nav-item" href="#sharhlar">Sharhlar</a>
      <a class="nav-item" href="#faq">FAQ</a>
      <a class="nav-item">Sotuvchilar uchun ko'rsatmalar</a>
      <button class="nav-button">Ro'yxatdan o'tish</button>
      <button class="nav-button navbar-transparent" routerLink="/login">Shaxsiy kabinet</button>
    </div>
  </div>