.login-container {
    display: flex;
    height: 100%;
    width: auto;
  }

  .image-container {
    width: 45%;
    overflow: hidden;
  }
  
  .image-container img{
    width: 100%;
    height: auto;
  }

  .login-form-container  {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
  }

  .login-form-container h1{
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
  }

  .login-form-container label{
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
  }

  input {
    width: 60%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 250px;
    margin-bottom: 20px;
  }

  button{
    width: 60%;
    padding: 10px;
    margin: 20px 0;
    font-size: 17px;
    border-radius: 5px;
  }
  
  .login-form-container a{
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }

  .login-form-container a:hover{
    color:  #56a3da;
  }

  .continue-button {
    color: #fff;
    background-color: #0691F1;
  }
  