<div class="login-container">
  <div class="image-container">
    <img src="../../../assets/images/login-page/sign_.jpg" alt="Image" />
  </div>

  <div class="login-form-container">
    <h1>
      Sotishni Baraka Savdodan <br />
      boshlang!
    </h1>
    <form [formGroup]="registrationForm" class="form">
      
          <label for="name">Ismingizni kiriting</label>
          <input type="text" id="name" formControlName="first_name" placeholder="Ism kiriting" />
      
          <label for="last_name">Familiyangizni kiriting</label>
          <input type="text" id="last_name" formControlName="last_name" placeholder="Familiya kiriting" />
      
          <label for="phone">Telefon raqamingizni kiriting</label>
          <input type="text" id="phone" formControlName="phone_number" placeholder="+998 94 123 45 67" />
      
          <label for="password">Parolni kiriting</label>
          <input type="password" id="password" formControlName="password" placeholder="Parol" />
      
          <button type="button" class="continue-button" (click)="registerUser()" >Davom etish</button>

    </form>
  </div>
</div>
