<div class="login-container">
  <!-- First div (40% width) -->
  <div class="image-container">
    <img src="../../../assets/images/login-page/sign_.jpg" alt="Image" />
  </div>

  <!-- Second div (Login form centered) -->
  <div class="login-form-container">
    <!-- Login form -->
    <h1>Baraka Savdoga xush kelibsiz!</h1>

    <label for="phone">Telefon raqamingizni kiriting</label>
    <input type="text" id="phone" placeholder="+998 94 123 45 67" />

    <label for="password">Parolni kiriting</label>
    <input type="password" id="password" placeholder="Parol" />

    <button type="button" class="continue-button">Davom etish</button>

    <p><a routerLink="/reset">Parolni unutdingizmi?</a></p>
  </div>
</div>
  