<div class="login-container">
  <div class="image-container">
    <img src="../../../assets/images/login-page/sign_.jpg" alt="Image" />
  </div>

  <div class="login-form-container">
    <h1>Baraka Savdoga xush kelibsiz!</h1>
    <h1>{{ token }}</h1>

    <form [formGroup]="loginForm" class="form">
      <label for="email">Emailingizni kiriting</label>
      <input
        type="text"
        id="email"
        formControlName="Email"
        placeholder="example@gmail.com"
      />

      <label for="password">Parolni kiriting</label>
      <input
        type="password"
        id="password"
        formControlName="Password"
        placeholder="Parol"
      />

      <button type="button" class="continue-button" (click)="loginUser()">
        Davom etish
      </button>
    </form>
    <p><a routerLink="/verification">Parolni unutdingizmi?</a></p>
  </div>
</div>
