<div class="login-container">
  <div class="image-container">
    <img src="../../../assets/images/login-page/sign_.jpg" alt="Image" />
  </div>

  <div class="login-form-container">
    <h1>Baraka Savdoga xush kelibsiz!</h1>

    <form [formGroup]="loginForm" class="form">
      <label for="phone">Telefon raqamingizni kiriting</label>
      <input
        type="text"
        id="phone"
        formControlName="PhoneNumber"
        placeholder="+998 94 123 45 67"
      />

      <label for="password">Parolni kiriting</label>
      <input
        type="password"
        id="password"
        formControlName="Password"
        placeholder="Parol"
      />

      <button type="button" class="continue-button" (click)="loginUser()">
        Davom etish
      </button>
    </form>
    <p><a routerLink="/reset">Parolni unutdingizmi?</a></p>
  </div>
</div>
