<!-- navbar.component.html -->
<div class="navbar">
  <div class="navbar-left">
    <img
      class="logo"
      src="../../../assets/images/logo/cart.png"
      height="16"
      alt=""
      loading="lazy"
      style="margin-top: -1px"
    />
    <span class="brand-name">Baraka Savdo</span>
  </div>
  <div class="navbar-right">
    <span class="nav-item"><a href="#afzalliklar">Afzalliklar</a></span>
    <span class="nav-item">Sharhlar</span>
    <span class="nav-item">FAQ</span>
    <span class="nav-item">Sotuvchilar uchun ko'rsatmalar</span>
    <button class="nav-button">Ro'yxatdan o'tish</button>
    <button class="nav-button navbar-transparent">Shaxsiy kabinet</button>
  </div>
</div>

<!-- image-text-button.component.html -->
<div class="container">
  <div class="text-container">
    <h1>
      Imkoniyatni qo'ldan <br />
      boy bermang
    </h1>
    <p>
      Baraka Savdo sotuvchisiga aylaning va yetakchi o'rinni egallang. O'z
      joyingizda! O'z biznesingizni qurishni boshlang eng tez o'suvchi biznesni
      qo'lga kiriting.
    </p>
    <button>Ro'yxatdan o'tish</button>
  </div>
  <div class="image-container">
    <img
      src="../../../assets/images/main-page/korzinka-for-main-page.png"
      alt="Your Image"
    />
  </div>
</div>

<div class="baraka-savdo-description">
  <p>
    Baraka Savdo - bu bir kun ichida yetkazib berish kafolatlangan bozor bo'lib,
    uning atrofida butun mamlakat bo'ylab minglab sotuvchilar va ishlab
    chiqaruvchilar birlashadilar.
  </p>
</div>

<div class="baraka-savdo-hamkor">
  <div class="text-logistika">
    <p>
      Baraka Savdo logistika, buyurtmalarni saqlash va yetkazib berish bo‘yicha
      o‘zining mustaqil tizimini yaratdi.
    </p>
  </div>
  <div class="text-hamkor">
    <p>
      Bu bizga hamkorlarimiz uchun foydali bozor komissiyasini saqlab qolish
      imkonini beradi - sotish summasining 3% dan 25% gacha, yetkazib berish
      qiymati va boshqa xarajatlar allaqachon komissiyaga kiritilgan.
    </p>
  </div>
</div>
<!-- image-description.component.html -->
<div class="container-taklif" id="afzalliklar">
  <h1>Baraka Savdo taklif qiladi</h1>
  <div class="container-imkoniyat">
    <div class="image-container-imkoniyat">
      <img
        src="../../../assets/images/main-page/tild3364-3738-4162-a536-373263623865__760d829cd4590f4b29fe.svg"
        alt="Image 1"
      />
      <p>Bajarish (kalit taslim logistika)</p>
    </div>
    <div class="image-container-imkoniyat">
      <img
        src="../../../assets/images/main-page/tild3366-3131-4536-a430-306465656262__union-1.svg"
        alt="Image 2"
      />
      <p>Internet maydonida savdo markazi</p>
    </div>
    <div class="image-container-imkoniyat">
      <img
        src="../../../assets/images/main-page/tild3432-6139-4938-a437-353334623230__f1ab3cc06aabeebdc6e3.svg"
        alt="Image 2"
      />
      <p>Minglab turli do'konlar bilan bitta xizmat</p>
    </div>
  </div>
  <div class="container-imkoniyat">
    <div class="image-container-imkoniyat">
      <img
        src="../../../assets/images/main-page/tild3537-3739-4832-a231-303437633338__union-3.svg"
        alt="Image 1"
      />
      <p>Brendli buyurtmani qabul qilish punktlari</p>
    </div>
    <div class="image-container-imkoniyat">
      <img
        src="../../../assets/images/main-page/tild3563-3963-4166-b336-356265346233__union-2.svg"
        alt="Image 2"
      />
      <p>Omborda tovarlarni bepul saqlash</p>
    </div>
    <div class="image-container-imkoniyat">
      <img
        src="../../../assets/images/main-page/tild6564-3265-4437-b861-626332666561__union.svg"
        alt="Image 2"
      />
      <p>Komissiya "Hammasi o'z ichiga"</p>
    </div>
  </div>
</div>
